* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    margin-top: 13rem;
    padding: 1rem;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }
  
  h1 {
    font-weight: 800;
    font-size: 1.5rem;
  }
  
  .traffic-light {
    margin: 3rem;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    padding: 10px;
    border-radius: 5px;
  }
  
  .light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    transition: background-color 0.5s;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  .light.active {
    border: 2px solid #fff;
  }
  
  .black {
    background-color: black;
  }
  